<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!--  Header  -->
  <header>
    <h1> Pomodoro Todo </h1>
  </header>
  
      <!--  Form  -->
       <section class="form-container">
        <div class="form-container__details">
          <div class="form-container__title"> Welcome! </div>
          <form class="form" action="/signup" method="POST">
            <div class="form__field"> 
                <label class="form__label" for="userName">USERNAME
                  <input class="form__input" type="text" name="userName">
                </label>
            </div> 
            <div class="form__field"> 
                <label class="form__label" for="email">EMAIL
                  <input class="form__input" type="email"
                  name="email">
                </label>
            </div> 
            <div class="form__field"> 
                <label class="form__label" for="password">PASSWORD
                  <input class="form__input" type="password"
                  name="password">
                </label>
            </div> 
            <div class="form__field"> 
                <label class="form__label" for="confirmPassword">CONFIRM PASSWORD
                  <input class="form__input" type="password"
                  name="confirmPassword">
                </label>
            </div> 
            <% if (locals.messages.errors) { %>
              <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %>    
            <% } %>
            <button class="form__submit" type="submit"> Create Account </button>
          </form>
          <div class="form-container__line-divider"> </div> 
          <div class="form-container__links"> 
            <a href="/login" class="form-container__link"> Already have an account? Login </a>
          </div> 
        </div>
</body>
</html>

      
             
              
              